<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h5>Tech & Data-Driven Mindset</h5>
        <p>
          I am a soon-to-be graduate in Information Systems Management, passionate about data analysis, business intelligence, and technology. Currently, I work as a Power BI Analyst and Shorts Editor for a YouTube channel, analyzing data to optimize content performance. This role has sharpened my analytical thinking, problem-solving, and ability to turn insights into action.</p>
      </div>
      <div class="col-lg-4">
        <h5>Global Perspective & Soft Skills</h5>
        <p>
          My experience working abroad during college enhanced my adaptability, teamwork, and cross-cultural communication. A lifelong learner, I enjoy reading, traveling, and sports—especially tennis, which has taught me discipline, resilience, and strategic thinking. Now, I’m seeking opportunities in Europe where I can apply my skills in a diverse, innovative environment.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="cv/my-cv.pdf" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/gabriel-silva-66165234b/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Let's connect!
        </a>
      </div>
    </div>
  </div>
</section>
